<!DOCTYPE html> 
<html>
    <head>
        <style>
            body {background-color: powderblue;}
            h1   {color: blue;}
            p    {color: darkblue;}
            </style>
            <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>
    <body>
        <img src="https://www.uscis.gov/sites/default/files/images/site/DHS_cis_W.svg" alt="U.S. Department of Homeland Security Seal, U.S. Citizenship and Immigration Services" style=background-color:white;width:300px;height:200px;"/>
        <h1>US Civics Tester</h1>
        {% block content %}
        <h3>This will be replaced</h3>
        {% endblock %}
    </body>
</html>